<section class="post">
  <div class="post-main">
    <div class="post-header">
      <%= render 'users/partials/post_user', user: post.user %>
      <div class="creation-date"><%= link_to time_ago_in_words(post.created_at) + ' ago', post %></div>
    </div>
    <div class="content"><%= post.content %></div>
    <div class="props">
      <%= render 'likes/partials/like', likeable: post %>
      <div class="options">
        <%= link_to 'Edit', edit_post_path(post), class: 'option-button' %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'option-button' %>
      </div>
    </div>
  </div>
  <%= render 'comments/partials/comment', post: post, comment: comment %>
</section>