
<% content_for :header_h1 do %>
  <h1 class="fakebook">Users 🙋</h1>
<% end %>

<main class="users-container">
  <% following = current_user.active_following %>
  <% followers = current_user.active_followers %>
  <% pending_followers = current_user.pending_followers %>
  <%= content_tag :h2, 'Pending requests' if current_user.pending_followers.any? %>
  <% pending_followers.each do |pending_follower| %>
    <div class="user-profile">
      <div class="profile">
        <%= render 'users/partials/user_profile', user: pending_follower, link: true %>
      </div>
      <div class="comments">
        <%= link_to 'Accept', friendships_update_path(requester_id: pending_follower.id, status: :accepted), class: 'option-button' %>
      </div>
    </div>

  <% end %>
  <%= content_tag :h2, 'Following' if (following + followers).any? %>
  <% (following + followers).each do |pending_follower| %>
    <div class="user-profile">
      <div class="profile">
        <%= render 'users/partials/user_profile', user: pending_follower, link: true %>
      </div>
    </div>
  <% end %>
  <h2>All users</h2>
  <% (@users - following - followers - pending_followers - [current_user]).each do |user| %>
    <div class="user-profile">
      <div class="profile">
        <%= render 'users/partials/user_profile', user: user, link: true %>
      </div>
      <div class="comments">
        <% if current_user.pending_following.include? user %>
          <div class="">Request pending...</div>
        <% else %>
          <%= link_to 'Send request', friendships_create_path(requestee_id: user.id), class: 'option-button'  %>
        <% end %>
      </div>
    </div>
  <% end %>
</main>
