<nav>
  <h2 class="fakebook"><%= image_tag "logo.png", height: 48 %> <%= link_to 'Cakebook', root_path %></h2>
  <div class="menu">
    <% if user_signed_in? %>
      <% pending_requests = content_tag :div, current_user.pending_followers.count, class: 'pending-request' %>
      <%= render 'users/partials/post_user', user: current_user %>
      <%= link_to "Users#{pending_requests}".html_safe, users_path %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
  </div>
</nav>
<header class='main-header'>
  <div class="header-content">
    <%= content_for :header_h1 %>
    <%= content_tag :p, notice, class: notice ? 'notice' : 'display-none' %>
    <%= content_tag :p, alert, class: alert ? 'alert' : 'display-none' %>
    <%= content_for :main_header %>
  </div>
</header>
