<nav>
  <h2><%= link_to 'Fakebook', root_path %></h2>
  <div class="menu">
    <% if user_signed_in? %>
      <% pending_requests = content_tag :div, current_user.pending_followers.count, class: 'pending-request' %>
      <%= render 'users/partials/post_user', user: current_user %>
      <%= link_to "Users#{pending_requests}".html_safe, users_path %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
  </div>
</nav>
<header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</header>
